<div class="single-review clearfix">
  <div class="review-header">
    <h4><%= comment.user.display_name %></h4>
    <small>26/11/2012</small>
  </div><!--end review-header-->

  <div class="review-body">
    <p><%= comment.content %></p>
  </div><!--end review-body-->
</div><!--end single-review-->