<li class="span3 clearfix">
  <div class="thumbImage">
    <a href="#"><img src="http://placehold.it/72x72" alt=""></a>
  </div>
  <div class="thumbSetting">
    <div class="thumbTitle">
      <a href="<%=item_url(item)%>" class="invarseColor">
        <%=item.title%>
      </a>
      <br>
      <small><%=item.created_at%></small>
    </div>
  </div>
</li>
