
<!-- ============================  Categories Start ============================ -->

<section class="picture-categories">

  <div class="container">
    <div class="row">
      <div class="span1">

        <h4 class="title">Categories</h4>

      </div> <!-- end span1 -->

      <div class="span11">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-picture icon-large"></i></a></li>
            <li><a href="#tab2" data-toggle="tab"><i class="icon-facetime-video icon-large"></i></a></li>
            <li><a href="#tab3" data-toggle="tab"><i class="icon-music icon-large"></i></a></li>
          </ul>
        </div> <!-- end tabbable -->
      </div> <!-- end span11 -->
    </div> <!-- end row -->
  </div> <!-- end container -->

  <section class="categories-back">

    <div class="container">

      <div class="tab-content">

        <div class="tab-pane active" id="tab1">
          <div class="row">
            <div class="span3">
              <ul class="unstyled cat-list">
                <li><a href="#">Abstract</a></li>
                <li><a href="#">Animals/Wildlife</a></li>
                <li><a href="#">The Arts</a></li>
                <li><a href="#">Backgrounds/Textures</a></li>
                <li><a href="#">Beauty/Fashion</a></li>
                <li><a href="#">Buildings/Landmarks</a></li>
                <li><a href="#">Business/Finance</a></li>
              </ul>
            </div>
            <div class="span3">
              <ul class="unstyled cat-list">
                <li><a href="#">Editorial</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="#">Food and Drink</a></li>
                <li><a href="#">Healthcare/Medical</a></li>
                <li><a href="#">Holidays</a></li>
                <li><a href="#">Illustrations/Clip-Art</a></li>
                <li><a href="#">Industrial</a></li>
              </ul>
            </div>
            <div class="span3">
              <ul class="unstyled cat-list">
                <li><a href="#">Miscellaneous</a></li>
                <li><a href="#">Model Released Only</a></li>
                <li><a href="#">Nature</a></li>
                <li><a href="#">Objects</a></li>
                <li><a href="#">Parks/Outdoor</a></li>
                <li><a href="#">People</a></li>
                <li><a href="#">Religion</a></li>
              </ul>
            </div>
            <div class="span3">
              <ul class="unstyled cat-list">
                <li><a href="#">Signs/Symbols</a></li>
                <li><a href="#">Sports/Recreation</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Transportation</a></li>
                <li><a href="#">Vectors</a></li>
                <li><a href="#">Vintage</a></li>
                <li><a href="#">Science</a></li>
              </ul>
            </div>
          </div> <!-- end row -->
        </div> <!-- end tab-pane -->

        <div class="tab-pane" id="tab2">
          <div class="row">
            <div class="span3">
              <ul class="unstyled cat-list">
                <li><a href="#">Miscellaneous</a></li>
                <li><a href="#">Model Released Only</a></li>
                <li><a href="#">Nature</a></li>
                <li><a href="#">Objects</a></li>
                <li><a href="#">Parks/Outdoor</a></li>
                <li><a href="#">People</a></li>
                <li><a href="#">Religion</a></li>
              </ul>
            </div>
            <div class="span3">
              <ul class="unstyled cat-list">
                <li><a href="#">Signs/Symbols</a></li>
                <li><a href="#">Sports/Recreation</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Transportation</a></li>
                <li><a href="#">Vectors</a></li>
                <li><a href="#">Vintage</a></li>
                <li><a href="#">Science</a></li>
              </ul>
            </div>
            <div class="span3">
              <ul class="unstyled cat-list">
                <li><a href="#">Abstract</a></li>
                <li><a href="#">Animals/Wildlife</a></li>
                <li><a href="#">The Arts</a></li>
                <li><a href="#">Backgrounds/Textures</a></li>
                <li><a href="#">Beauty/Fashion</a></li>
                <li><a href="#">Buildings/Landmarks</a></li>
                <li><a href="#">Business/Finance</a></li>
              </ul>
            </div>
            <div class="span3">
              <ul class="unstyled cat-list">
                <li><a href="#">Editorial</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="#">Food and Drink</a></li>
                <li><a href="#">Healthcare/Medical</a></li>
                <li><a href="#">Holidays</a></li>
                <li><a href="#">Illustrations/Clip-Art</a></li>
                <li><a href="#">Industrial</a></li>
              </ul>
            </div>
          </div> <!-- end row -->
        </div> <!-- end tab-pane -->

        <div class="tab-pane" id="tab3">
          <div class="row">
            <div class="span3">
              <ul class="unstyled cat-list">
                <li><a href="#">Editorial</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="#">Food and Drink</a></li>
                <li><a href="#">Healthcare/Medical</a></li>
                <li><a href="#">Holidays</a></li>
                <li><a href="#">Illustrations/Clip-Art</a></li>
                <li><a href="#">Industrial</a></li>
              </ul>
            </div>
            <div class="span3">
              <ul class="unstyled cat-list">
                <li><a href="#">Abstract</a></li>
                <li><a href="#">Animals/Wildlife</a></li>
                <li><a href="#">The Arts</a></li>
                <li><a href="#">Backgrounds/Textures</a></li>
                <li><a href="#">Beauty/Fashion</a></li>
                <li><a href="#">Buildings/Landmarks</a></li>
                <li><a href="#">Business/Finance</a></li>
              </ul>
            </div>
            <div class="span3">
              <ul class="unstyled cat-list">
                <li><a href="#">Miscellaneous</a></li>
                <li><a href="#">Model Released Only</a></li>
                <li><a href="#">Nature</a></li>
                <li><a href="#">Objects</a></li>
                <li><a href="#">Parks/Outdoor</a></li>
                <li><a href="#">People</a></li>
                <li><a href="#">Religion</a></li>
              </ul>
            </div>
            <div class="span3">
              <ul class="unstyled cat-list">
                <li><a href="#">Signs/Symbols</a></li>
                <li><a href="#">Sports/Recreation</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Transportation</a></li>
                <li><a href="#">Vectors</a></li>
                <li><a href="#">Vintage</a></li>
                <li><a href="#">Science</a></li>
              </ul>
            </div>
          </div> <!-- end row -->
        </div> <!-- end tab-pane -->

      </div> <!-- end tab-content -->

    </div> <!-- end container -->

  </section> <!-- end categories-back -->

</section> <!-- end picture-categories -->



<!-- ============================  Categories End ============================ -->