<!-- ============================  Main Picture Start ============================ -->

<section class="main-pictures-cotainer">

  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="content-text">
          <h1 class="title">Download Thousands of pictures for Free</h1>
          <h4 class="subtitle">Stock p<span class='style-border'>hotos, illustrations, video and music -handpicked by creatives all over th</span>e world.</h4>
        </div><!--  end content-text -->
      </div> <!-- end span12 -->
    </div> <!-- end row -->
    <div class="row">
      <div class="span6 offset3">
        <div class="search-form">

          <form action="http://ipictureshtml.azyrusthemes.com/search-results.html" method="get" >
            <div class="input-append">
              <input class="span5 seachPlaceholder" id="appendedInputButton" type="text" placeholder="Enter Keywords " name="searchItems">
              <button class="btn" type="submit"><i class="icon-search icon-2x"></i></button>
            </div>
          </form>

        </div> <!-- end search-form -->
      </div> <!-- end span6 -->
    </div> <!-- end row -->
    <div class="row">
      <div class="span12">
        <div class="content-text v2">
          <h4 class="subtitle"><strong>750,789,586</strong> free files &amp; counting.</h4>
        </div><!--  end content-text -->
      </div> <!-- end span12 -->
    </div> <!-- end row -->
  </div><!--  end container -->


</section> <!-- end main-pictures-container -->


<!-- ============================  Main Picture Ends ============================ -->