<li class="span3 clearfix">
  <div class="thumbnail">
    <a href="#"><img src="assets/img/212x192.jpg" alt=""></a>
  </div>
  <div class="thumbSetting">
    <div class="thumbTitle">
      <h3>
        <a href="#" class="invarseColor"><%=item.title%></a>
      </h3>
    </div>
    <ul class="rating clearfix">
      <li><i class="star-on"></i></li>
      <li><i class="star-on"></i></li>
      <li><i class="star-on"></i></li>
      <li><i class="star-on"></i></li>
      <li><i class="star-off"></i></li>
    </ul>
    <div class="product-desc">
      <p>
        Praesent ac condimentum felis. Nulla at nisl orci, at dignissim dolor...
      </p>
    </div>

    <div class="thumbButtons">
      <button class="btn btn-primary btn-small btn-block">
        Details
      </button>
    </div>
  </div>
</li>