
<!-- ============================  TOP IMAGES START ============================ -->
<section class="top-images">
<div class="container">
<div class="row">
  <div class="span6">
    <h4 class="title">Top Free images this week</h4>
  </div> <!-- end span6 -->
  <div class="span6">
    <a href="#" class="pull-right random"><i class="icon-random icon-large"></i></a>
  </div> <!-- end span6 -->
</div> <!-- end row -->

<div class="images-container">
  <div class="row">
    <div class="span3">
      <figure class="top-img">
        <img src="assets/img/work/1.jpg" alt="img">

        <figcaption class="img-meta">
          <div class="row-fluid">
            <div class="span8">
              <a href="#" class="img-id">#154895856</a>
              <a href="#" class="img-tags">Backgrounds</a>
              <a href="#" class="img-tags">/ Textures</a>
            </div>
            <div class="span4">

              <a href="#" class="btn download-btn"><i class="icon-download"></i></a>

            </div>

          </div>
        </figcaption> <!-- end img-meta -->

        <div class="roll-over">
          <a href="#" class="btn"><span class="bucket">&#128092;</span></a>

        </div> <!-- end roll-over -->
      </figure> <!-- end top-img -->
    </div><!--  end span3 -->

    <div class="span3">
      <figure class="top-img">
        <img src="assets/img/work/2.jpg" alt="img">

        <figcaption class="img-meta">
          <div class="row-fluid">
            <div class="span8">
              <a href="#" class="img-id">#265988565</a>
              <a href="#" class="img-tags">Holidays</a>
            </div>
            <div class="span4">

              <a href="#" class="btn download-btn"><i class="icon-download"></i></a>

            </div>

          </div>
          <div class="roll-over">
            <a href="#" class="btn"><span class="bucket">&#128092;</span></a>

          </div> <!-- end roll-over -->
        </figcaption> <!-- end img-meta -->
      </figure> <!-- end top-img -->
    </div><!--  end span3 -->

    <div class="span3">
      <figure class="top-img">
        <img src="assets/img/work/3.jpg" alt="img">

        <figcaption class="img-meta">
          <div class="row-fluid">
            <div class="span8">
              <a href="#" class="img-id">#589347128</a>
              <a href="#" class="img-tags">Nature</a>
            </div>
            <div class="span4">

              <a href="#" class="btn download-btn"><i class="icon-download"></i></a>

            </div>

          </div>
          <div class="roll-over">
            <a href="#" class="btn"><span class="bucket">&#128092;</span></a>

          </div> <!-- end roll-over -->
        </figcaption> <!-- end img-meta -->
      </figure> <!-- end top-img -->
    </div><!--  end span3 -->

    <div class="span3">
      <figure class="top-img">
        <img src="assets/img/work/4.jpg" alt="img">

        <figcaption class="img-meta">
          <div class="row-fluid">
            <div class="span8">
              <a href="#" class="img-id">#578129967</a>
              <a href="#" class="img-tags">Science</a>
            </div>
            <div class="span4">

              <a href="#" class="btn download-btn"><i class="icon-download"></i></a>

            </div>

          </div>
          <div class="roll-over">
            <a href="#" class="btn"><span class="bucket">&#128092;</span></a>

          </div> <!-- end roll-over -->
        </figcaption> <!-- end img-meta -->
      </figure> <!-- end top-img -->
    </div><!--  end span3 -->

  </div> <!-- end row -->
</div> <!-- end images-container -->

<div class="images-container v2">
  <div class="row">
    <div class="span3">
      <figure class="top-img">
        <img src="assets/img/work/5.jpg" alt="img">

        <figcaption class="img-meta">
          <div class="row-fluid">
            <div class="span8">
              <a href="#" class="img-id">#258946358</a>
              <a href="#" class="img-tags">People</a>
            </div>
            <div class="span4">

              <a href="#" class="btn download-btn"><i class="icon-download"></i></a>

            </div>

          </div>
          <div class="roll-over">
            <a href="#" class="btn"><span class="bucket">&#128092;</span></a>

          </div> <!-- end roll-over -->
        </figcaption> <!-- end img-meta -->
      </figure> <!-- end top-img -->
    </div><!--  end span3 -->

    <div class="span3">
      <figure class="top-img">
        <img src="assets/img/work/6.jpg" alt="img">

        <figcaption class="img-meta">
          <div class="row-fluid">
            <div class="span8">
              <a href="#" class="img-id">#587632489</a>
              <a href="#" class="img-tags">Typography</a>
            </div>
            <div class="span4">

              <a href="#" class="btn download-btn"><i class="icon-download"></i></a>

            </div>

          </div>
          <div class="roll-over">
            <a href="#" class="btn"><span class="bucket">&#128092;</span></a>

          </div> <!-- end roll-over -->
        </figcaption> <!-- end img-meta -->
      </figure> <!-- end top-img -->
    </div><!--  end span3 -->

    <div class="span3">
      <figure class="top-img">
        <img src="assets/img/work/7.jpg" alt="img">

        <figcaption class="img-meta">
          <div class="row-fluid">
            <div class="span8">
              <a href="#" class="img-id">#558932154</a>
              <a href="#" class="img-tags">3D Renders</a>
            </div>
            <div class="span4">

              <a href="#" class="btn download-btn"><i class="icon-download"></i></a>

            </div>

          </div>
          <div class="roll-over">
            <a href="#" class="btn"><span class="bucket">&#128092;</span></a>

          </div> <!-- end roll-over -->
        </figcaption> <!-- end img-meta -->
      </figure> <!-- end top-img -->
    </div><!--  end span3 -->

    <div class="span3">
      <figure class="top-img">
        <img src="assets/img/work/8.jpg" alt="img">

        <figcaption class="img-meta">
          <div class="row-fluid">
            <div class="span8">
              <a href="#" class="img-id">#268961587</a>
              <a href="#" class="img-tags">Abstract</a>
            </div>
            <div class="span4">

              <a href="#" class="btn download-btn"><i class="icon-download"></i></a>

            </div>

          </div>
          <div class="roll-over">
            <a href="#" class="btn"><span class="bucket">&#128092;</span></a>

          </div> <!-- end roll-over -->
        </figcaption> <!-- end img-meta -->
      </figure> <!-- end top-img -->
    </div><!--  end span3 -->

  </div> <!-- end row -->
</div> <!-- end images-container -->

</div> <!-- end container -->

</section> <!-- end top-images -->



<!-- ============================  TOP IMAGES END ============================ -->