<section class="recent-posts">
<div class="container">
<div class="row">
  <div class="span12">
    <h4 class="title v2">Feedline</h4>
  </div> <!-- end span12 -->
</div> <!-- end row -->
<div class="row">
  <div class="recent-post-container">
    <div class="span5">
      <div class="row-fluid">
        <div class="span4">

          <article class="recent-post odd">
            <figure>
              <img src="assets/img/work/10.jpg" alt="img">
            </figure>

            <br>

            <div class="row-fluid">
              <div class="span12">
                <ul class="unstyled inline meta-info">
                  <li><a href="#" class="author">Will Grewal</a></li>
                  <li><a href="#">May, 23rd 2013</a></li>
                </ul>
                <ul class="unstyled inline meta-info-v2">
                  <li><a href="#">58 Comments</a></li>
                  <li>|</li>
                  <li><a href="#">875 Views</a></li>
                </ul>
              </div> <!-- end span12 -->
            </div> <!-- end row-fluid -->
          </article> <!-- end recent-post -->

        </div> <!-- end span4 -->
        <div class="span8">

          <article class="recent-post odd">

            <h5 class="post-title"><a href="#">Changes in our Privacy Policy</a></h5>
            <p class="content">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
            </p>

            <hr class="post-separator">

            <div class="row-fluid">
              <div class="span12">
                <a href="#" class="btn pull-right">Read more</a>
              </div> <!-- end span4 -->
            </div> <!-- end row-fluid -->
          </article> <!-- end recent-post -->

        </div> <!-- end span8 -->
      </div> <!-- end row-fluid  -->

      <div class="row-fluid">
        <div class="span4">

          <article class="recent-post even">
            <figure>
              <img src="assets/img/work/11.jpg" alt="img">
            </figure>

            <br>

            <div class="row-fluid">
              <div class="span12">
                <ul class="unstyled inline meta-info">
                  <li><a href="#" class="author">Will Grewal</a></li>
                  <li><a href="#">May, 23rd 2013</a></li>
                </ul>
                <ul class="unstyled inline meta-info-v2">
                  <li><a href="#">58 Comments</a></li>
                  <li>|</li>
                  <li><a href="#">875 Views</a></li>
                </ul>
              </div> <!-- end span12 -->
            </div> <!-- end row-fluid -->
          </article> <!-- end recent-post -->

        </div> <!-- end span4 -->
        <div class="span8">

          <article class="recent-post even">

            <h5 class="post-title"><a href="#">What image category Buyers like most?</a></h5>
            <p class="content">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
            </p>

            <hr class="post-separator">

            <div class="row-fluid">
              <div class="span12">
                <a href="#" class="btn pull-right">Read more</a>
              </div> <!-- end span4 -->
            </div> <!-- end row-fluid -->
          </article> <!-- end recent-post -->

        </div> <!-- end span8 -->
      </div> <!-- end row-fluid  -->
    </div> <!-- end span5 -->
    <div class="span6 offset1">
      <div class="row-fluid">
        <div class="span4">

          <article class="recent-post odd">
            <figure>
              <img src="assets/img/work/10.jpg" alt="img">
            </figure>

            <br>

            <div class="row-fluid">
              <div class="span12">
                <ul class="unstyled inline meta-info">
                  <li><a href="#" class="author">Will Grewal</a></li>
                  <li><a href="#">May, 23rd 2013</a></li>
                </ul>
                <ul class="unstyled inline meta-info-v2">
                  <li><a href="#">58 Comments</a></li>
                  <li>|</li>
                  <li><a href="#">875 Views</a></li>
                </ul>
              </div> <!-- end span12 -->
            </div> <!-- end row-fluid -->
          </article> <!-- end recent-post -->

        </div> <!-- end span4 -->
        <div class="span8">

          <article class="recent-post odd">

            <h5 class="post-title"><a href="#">Changes in our Privacy Policy</a></h5>
            <p class="content">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
            </p>

            <hr class="post-separator">

            <div class="row-fluid">
              <div class="span12">
                <a href="#" class="btn pull-right">Read more</a>
              </div> <!-- end span4 -->
            </div> <!-- end row-fluid -->
          </article> <!-- end recent-post -->

        </div> <!-- end span8 -->
      </div> <!-- end row-fluid  -->

      <div class="row-fluid">
        <div class="span4">

          <article class="recent-post even">
            <figure>
              <img src="assets/img/work/11.jpg" alt="img">
            </figure>

            <br>

            <div class="row-fluid">
              <div class="span12">
                <ul class="unstyled inline meta-info">
                  <li><a href="#" class="author">Will Grewal</a></li>
                  <li><a href="#">May, 23rd 2013</a></li>
                </ul>
                <ul class="unstyled inline meta-info-v2">
                  <li><a href="#">58 Comments</a></li>
                  <li>|</li>
                  <li><a href="#">875 Views</a></li>
                </ul>
              </div> <!-- end span12 -->
            </div> <!-- end row-fluid -->
          </article> <!-- end recent-post -->

        </div> <!-- end span4 -->
        <div class="span8">

          <article class="recent-post even">

            <h5 class="post-title"><a href="#">What image category Buyers like most?</a></h5>
            <p class="content">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
            </p>

            <hr class="post-separator">

            <div class="row-fluid">
              <div class="span12">
                <a href="#" class="btn pull-right">Read more</a>
              </div> <!-- end span4 -->
            </div> <!-- end row-fluid -->
          </article> <!-- end recent-post -->

        </div> <!-- end span8 -->
      </div> <!-- end row-fluid  -->

    </div> <!-- end span6 -->
  </div> <!-- end recent-post-container -->
</div> <!-- end row -->

<br>
<br>
</div> <!-- end container -->
</section>