<div class="product-tab">

  <%= render :partial => 'items/show/comment_list' %>

  <% if current_user %>
      <div id="make-review">
            <%= render :partial => 'items/show/comment' %>
        </div>
  <% end %>
</div><!--end product-tab-->