<div class="product-tab">

  <%= render :partial => 'items/show/comment_list' %>


  <div id="make-review">
        <%= render :partial => 'items/show/comment' %>
    </div>
</div><!--end product-tab-->