<!--begain header-->
<header>
<div class="topHeader">
  <div class="container">

    <div class="pull-left">
      <div class="btn-group">
        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
          $ <span class="caret"></span>
        </button>
        <ul class="dropdown-menu currency">
          <li><a href="#">$</a></li>
          <li class="divider"></li>
          <li><a href="#">¥</a></li>
          <li class="divider"></li>
          <li><a href="#">£</a></li>
          <li class="divider"></li>
          <li><a href="#">€</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
          EN <span class="caret"></span>
        </button>
        <ul class="dropdown-menu language">
          <li><a href="#">FR</a></li>
          <li class="divider"></li>
          <li><a href="#">CH</a></li>
          <li class="divider"></li>
          <li><a href="#">AR</a></li>
        </ul>
      </div>
    </div><!--end pull-left-->


    <div class="pull-right">
      <form method="get" action="http://egythemes.com/shoppest/page" class="siteSearch">
        <div class="input-append">
          <input type="text" class="span2" id="appendedInputButton" placeholder="Start Typing...">
          <button class="btn" type="submit" name=""><i class="icon-search"></i></button>
        </div>
      </form><!--end form-->
    </div><!--end pull-right-->

    <ul class="pull-right inline">
      <% if current_user %>
          <li>
              <%= link_to("Çıkış Yap", destroy_user_session_path, :method => :delete, :class=> "invarseColor") %>
          </li>
      <% else %>
          <li>
            <a class="invarseColor" href="<%=new_user_session_url%>">Login</a>
          </li>
          <li class="sep-vertical"></li>
          <li>
            <a class="invarseColor" href="<%=new_user_registration_url%>">Register</a>
          </li>
      <% end %>

    </ul>

  </div><!--end container-->
</div><!--end topHeader-->

<div class="subHeader">
  <div class="container">
    <div class="navbar">

      <div class="siteLogo pull-left">
        <h1><a href="index.html"><img src="/assets/img/logo.png" alt="Shoppest"></a></h1>
      </div>

      <ul class="nav">
        <li class="active"><a href="#"><i class="icon-home"></i></a></li>
        <li>
          <a href="#">Pages &nbsp;<i class="icon-caret-down"></i></a>
          <div>
            <ul>
              <li><a href="index.html"> <span>-</span> index1</a></li>
              <li><a href="index2.html"> <span>-</span> index2</a></li>
            </ul>
          </div>
        </li>
      </ul><!--end nav-->

    </div>
  </div><!--end container-->
</div><!--end subHeader-->
</header>
<!-- end header -->
