
<!-- ============================  Navigation Start =========================== -->

<div class="navbar navbar-inverse-blue navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">


      <div class="navigation">
        <ul class="nav">
          <li class="active dropdown">

            <a href="#" class="dropdown-toggle btn-navbar-blue" data-toggle="dropdown">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>

            <ul class="dropdown-menu">
              <li><a href="cart.html">Cart</a></li>
              <li><a href="image-page.html">Images</a></li>
              <li><a href="image-upload.html">Uploads</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="single-post.html">Single Post</a></li>
              <li><a href="pricing.html">Pricing</a></li>
              <li><a href="search-results.html">Search Results</a></li>
            </ul>

          </li>

        </ul> <!-- end nav -->
      </div><!--/.nav-collapse -->

      <a class="brand" href="index-2.html"><i class="icon-coffee"></i> Latted!</a>

      <div class="pull-right">
        <ul class="unstyled inline user-interaction">
          <li><a href="#"><span class="user">&#128100;</span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="bucket">&#128092;</span> <span class="notification">3</span></a>

            <ul class="dropdown-menu">
              <li>
                <div class="row-fluid">
                  <div class="span5">
                    <div class="img-basket">
                      <img src="assets/img/work/12.jpg" alt="img" />
                    </div> <!-- end img-basket -->
                  </div> <!-- end span5 -->
                  <div class="span6">
                    <div class="img-basket-info">
                      <a href="#">#589347128</a>
                      <a href="#" class="tag">Nature</a>
                    </div><!--  end img-basket-info -->
                  </div> <!-- end span6 -->
                  <div class="span1">
                    <a href="#" class="basket-remover"><i class="icon-remove"></i></a>
                  </div> <!-- end span1 -->
                </div> <!-- end row-fluid -->
              </li>
              <li>
                <div class="row-fluid">
                  <div class="span5">
                    <div class="img-basket">
                      <img src="assets/img/work/13.jpg" alt="img" />
                    </div> <!-- end img-basket -->
                  </div> <!-- end span5 -->
                  <div class="span6">
                    <div class="img-basket-info">
                      <a href="#">#589347128</a>
                      <a href="#" class="tag">Nature</a>
                    </div><!--  end img-basket-info -->
                  </div> <!-- end span6 -->
                  <div class="span1">
                    <a href="#" class="basket-remover"><i class="icon-remove"></i></a>
                  </div> <!-- end span1 -->
                </div> <!-- end row-fluid -->
              </li>
              <li>
                <div class="row-fluid">
                  <div class="span5">
                    <div class="img-basket">
                      <img src="assets/img/work/14.jpg" alt="img" />
                    </div> <!-- end img-basket -->
                  </div> <!-- end span5 -->
                  <div class="span6">
                    <div class="img-basket-info">
                      <a href="#">#589347128</a>
                      <a href="#" class="tag">Nature</a>
                    </div><!--  end img-basket-info -->
                  </div> <!-- end span6 -->
                  <div class="span1">
                    <a href="#" class="basket-remover"><i class="icon-remove"></i></a>
                  </div> <!-- end span1 -->
                </div> <!-- end row-fluid -->
              </li>
              <li>
                <div class="row-fluid">
                  <div class="span6">
                    <a href="#" class="btn btn-large btn-block">Checkout</a>
                  </div>
                  <div class="span6">
                    <a href="#" class="btn btn-large btn-block">Save</a>
                  </div>
                </div> <!-- end row-fluid -->
              </li>
            </ul>
          </li>
        </ul>  <!-- end user-interaction -->
      </div> <!-- end pull-right -->
    </div> <!-- end container -->
  </div> <!-- end navbar-inner -->
</div> <!-- end navbar-inverse-blue -->

<!-- ============================  Navigation End ============================ -->